<div class="container">
    <div class="box-left">
    </div>
    <div class="box-right">
        <form (ngSubmit)="login(username.value, password.value)">
            <div class="box">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required #username>
             
            </div>
            <div class="box">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required #password>
             
            </div>
            <button type="submit" class="login">Login</button>
            <p>Don't have an account? <a routerLink="/register" class="register">Register</a></p>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            
        </form>
    </div>
</div>