<div class="header">
  <div class="logo">
    <a href="https://merito.pl">
      <div className="logo"><img src="https://www.merito.pl/sites/wsb/files/animLogo.gif" /></div>
    </a>
  </div>
  <div class="menu">
    <a class="logout" (click)="logout()">Logout</a>
  </div>
</div>
<div class="baner full">
  <div class="box">
    <h1>Kursy walut NBP</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form-container">
      <div class="form-group">
        <select name="currency" id="currency-select" ngModel>
          <option value="">--Proszę wybrać walutę--</option>
          <option *ngFor="let currency of currencies" [value]="currency"> {{ currency }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="start">Zakres początkowy:</label>
        <input type="date" id="start" name="date_from" [min]="minDate" [max]="maxDate" ngModel
          required />
      </div>
      <div class="form-group">
        <label for="end">Zakres końcowy:</label>
        <input type="date" id="end" name="date_to" [min]="minDate" [max]="maxDate" ngModel
          required />
      </div>
      <button type="submit">Wyślij</button>
    </form>
    <div>
      <app-rate-chart [rates]="rates"></app-rate-chart>
    </div>
    <!-- <table id="tableRates" *ngIf="rates.length">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <tr *ngFor="let rate of rates" class="table-row">
          <td class="table-cell">{{ rate.date }}</td>
          <td class="table-cell">{{ rate.rate }}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
<div class="footer">
  <div class="copyright">
    <p>Copyright 2024 Teresa Kramek</p>
  </div>
</div>