<div class="container">
    <div class="box-left">
        <form (ngSubmit)="onSubmit()">
            <div class="box">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" required>
            </div>
            <div class="box">
                <label for="email">Email:</label>
                <input type="email" [(ngModel)]="email" name="email">
              </div>
            <div class="box">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="register">Register</button>
        </form>
    </div>
    <div class="box-right">
    </div>
</div>