<div class="header">
  <div class="logo">
      <a href="index.html"><img src="img/logo.png" alt="Opis obrazka"/></a>
  </div>
  <div class="menu">
      <ul>
          <a href="#">
              <li>Start</li>
          </a>
          <a href="#galeria">
              <li>Galeria</li>
          </a>
          <a href="#paralaxa">
              <li>Paralaxa</li>
          </a>
          <a href="#kontakt">
              <li>Kontakt</li>
          </a>
      </ul>
  </div>
  <div class="socialki">
      <a href="https://fb.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
  </div>
</div>
<div class="baner full">
  <div class="kratka">
      <h1>Kursy walut NBP</h1>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form-container">
        <div class="form-group">
          <select name="currency" id="currency-select" ngModel>
            <option value="">--Proszę wybrać walutę--</option>
            <option *ngFor="let currency of currencies" [value]="currency"> {{ currency }}</option> 
          </select>
        </div>
        <div class="form-group">
          <label for="start">Zakres początkowy:</label>
          <input type="date" id="start" name="date_from" value="2024-05-03" min="2002-01-02" max="2024-05-03" ngModel required/>
        </div>
        <div class="form-group">
          <label for="end">Zakres końcowy:</label>
          <input type="date" id="end" name="date_to" value="2024-05-03" min="2002-01-02" max="2024-05-03" ngModel required/>
        </div>
        <button type="submit">Wyślij</button>
    </form>
    <table id="tableRates">
        <tr class="table-row table-header">
          <th>Data</th>
          <th>Kurs</th>
        </tr>
        <tr *ngFor="let rate of rates" class="table-row">
            <td class="table-cell">{{ rate.date }}</td>
            <td class="table-cell">{{ rate.rate }}</td>
        </tr>
      </table>
  </div>
</div>
<div class="galeria full" id="galeria">
  <div class="siatka">
      <div class="item img1"><img src="img/bg1.jpg" alt=""></div>
      <div class="item img2"><img src="img/bg1.jpg" alt=""></div>
      <div class="item img3"><img src="img/bg1.jpg" alt=""></div>
      <div class="item img4"><img src="img/bg1.jpg" alt=""></div>
      <div class="item img5"><img src="img/bg1.jpg" alt=""></div>
      <div class="item img6"><img src="img/bg1.jpg" alt=""></div>
  </div>
</div>
<div class="paralaxa full" id="paralaxa">
  <div class="kratka">
      <h1>Tytuł wpisu</h1>

  </div>
</div>
<div class="stopka">
  <div class="gorna">
      <div class="footer">
          <img src="img/logo.png" alt="Logo firmy">
          <div class="adres">
              <div class="linia">
                  <i class="fa-regular fa-envelope"></i>
                  <p>ul. Sportowa 32,<br>
                  41-500 Chorzów</p>
              </div>
              <div class="linia">
                  <i class="fa-solid fa-phone"></i>
                  <p><a href="tel:48555555555">+48 555 555 555</a></p>
              </div>
              <div class="linia">
                  <i class="fa-solid fa-at"></i>
                  <p><a href="mailto:mail@poczta.com?cc=mail1@poczta.com&bcc=mail2@poczta.com&subject=Tytuł wiadomości&body=Wiadomość ze strony www">mail@poczta.com</a></p>
              </div>
          </div>
      </div>
      <div class="footer">
          <h3>Informacje</h3>
          <ul>
              <li><a href="#">Polityka plików cookies</a></li>
              <li><a href="#">Polityka prywatności</a></li>
              <li><a href="#">Gwarancja i zwroty</a></li>
              <li><a href="#">Warunki dostawy</a></li>
              <li><a href="#">Współpraca</a></li>
          </ul>
      </div>
      <div class="footer">
          <h3>Newsletter</h3>
          <div class="zapis">
              <p>Zapisz się do naszego newslettera, aby być na bieżąco</p>
              <input type="text" id="newsletter" name="newsletter" placeholder="Wpisz adrers email">
              <div class="linia">
                  <input type="checkbox" id="zgoda" name="zgoda">
                  <label for="zgoda">Wyrażam zgodę na...</label>
              </div>
              <a href="#">Zapisz się</a>
          </div>
          
      </div>
  </div>
  <div class="dolna"><p>Copyright 2024 by Ktoś tam</p></div>
</div>